@media screen and (min-width:32rem){

#menu{
display:none;
}

.navigation{
display:flex;
flex-direction:row;
gap:1rem;
}

#members.grid{
grid-template-columns:repeat(3,1fr);
}

}


#spotlights.grid {
grid-template-columns: repeat(3, 1fr);
}

.hero img {
  height: 450px;
}

.hero-overlay {
  max-width: 500px;
}

#spotlights.grid {
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) {

  #menu-btn {
    display: none;
  }

  #nav-menu {
    display: block !important;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: center;
  }

  .nav-menu li a {
    padding: 0.5rem 1rem;
  }
}