/* Desktop styles */
@media screen and (min-width: 768px) {
  #menu-btn {
    display: none;
  }

  #nav-menu {
    display: block !important;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;
  }

  .nav-menu li a {
    padding: .65rem 1rem;
  }

  #members.grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #spotlights.grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .hero img {
    height: 450px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 1100px;
  }
}
